@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  flex-direction: column;
}

button {
  padding: 5px 15px;
  font-family: "Jost", sans-serif;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: #71C9CE;
  cursor: pointer;
  transition: 0.2s ease-out;
}

button:hover {
  background-color: #00aeff;
  transition: 0.1s ease-in;
  color: white;
}