@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Jost", sans-serif;
}

h1 {
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 50px;
}

.coin {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

button {
  padding: 5px 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  background-color: #ffaf00;
  cursor: pointer;
  transition: 0.2s ease-out;
}

button:hover {
  background-color: #ff8000;
  transition: 0.1s ease-in;
  color: white;
}

.div-btn {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.Result {
  margin-top: 50px;
}

#won,
#lost {
  font-size: 30px;
}
