*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  text-align: center;
  margin-top: 50px;
}

h1{
  font-size: 50px;
  margin-bottom:30px;
}

button{
  padding: 5px 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  background-color: #FFAF00;
  cursor: pointer;
  transition: 0.2s ease-out;
}

button:hover{
  background-color: #FF8000;
  transition: 0.1s ease-in;
  color: white;
}

.div-btn{
  display: flex;
  gap: 30px;
  justify-content: center;
}